/* variables */
$pink: #e6007a;
$blue: blue;
$black: black;

$text: $black;

/* links */
a {
  color: $text;

  /* make a default style for links pointing to current page (active) */
  &[aria-current="page"] {
    color: $pink;
  }
}

/* custom-element, registerd as netlify-cms editor components */
w3f-link-cta {
  border: 0.1rem solid $blue;
  display: block;

  a {
    display: block;
    color: $blue;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    &:hover {
      color: $pink;
    }
  }
}
